In [1]:
# Importar librer√≠as
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
df = pd.read_csv('weightlifting_721_workouts.csv')
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes
0,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),1,135.0,8,0.0,0,NaN,NaN
1,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),2,135.0,8,0.0,0,NaN,NaN
2,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),3,135.0,5,0.0,0,NaN,NaN
3,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),4,185.0,7,0.0,0,NaN,NaN
4,2015-10-23 17:06:37,Chest,Incline Bench Press (Barbell),5,230.0,8,0.0,0,NaN,NaN

In [3]:
# Elimino columnas que en principio no interesan
df = df.drop(['Workout Name', 'Distance', 'Seconds', 'Notes', 'Workout Notes'], axis=1)
df.head()

                  Date                  Exercise Name  Set Order  Weight  Reps
0  2015-10-23 17:06:37  Incline Bench Press (Barbell)          1   135.0     8
1  2015-10-23 17:06:37  Incline Bench Press (Barbell)          2   135.0     8
2  2015-10-23 17:06:37  Incline Bench Press (Barbell)          3   135.0     5
3  2015-10-23 17:06:37  Incline Bench Press (Barbell)          4   185.0     7
4  2015-10-23 17:06:37  Incline Bench Press (Barbell)          5   230.0     8

In [4]:
print(df['Date'].describe())

count                    9932
unique                    583
top       2015-12-20 13:46:49
freq                       44
Name: Date, dtype: object

In [5]:
print(df['Exercise Name'].describe())

count                9932
unique                 83
top       Squat (Barbell)
freq                 1437
Name: Exercise Name, dtype: object

In [6]:
print(df['Set Order'].describe())

count    9932.000000
mean        3.109847
std         1.986896
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        11.000000
Name: Set Order, dtype: float64

In [7]:
print(df['Weight'].describe())

count    9932.000000
mean      171.967540
std       117.993654
min         0.000000
25%        85.000000
50%       165.000000
75%       237.500000
max      2956.000000
Name: Weight, dtype: float64

In [8]:
print(df['Reps'].describe())

count    9932.000000
mean        8.688884
std         3.092516
min         0.000000
25%         6.000000
50%         8.000000
75%        10.000000
max        60.000000
Name: Reps, dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9932 entries, 0 to 9931
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9932 non-null   object
 1   Exercise Name  9932 non-null   object
 2   Set Order      9932 non-null   int64
 3   Weight         9932 non-null   float64
 4   Reps           9932 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 388.1+ KB

In [10]:
df['Weight'] = df['Weight'] * 0.453592

In [11]:
df.head()

,Date,Exercise Name,Set Order,Weight,Reps
0,2015-10-23 17:06:37,Incline Bench Press (Barbell),1,61.23492,8
1,2015-10-23 17:06:37,Incline Bench Press (Barbell),2,61.23492,8
2,2015-10-23 17:06:37,Incline Bench Press (Barbell),3,61.23492,5
3,2015-10-23 17:06:37,Incline Bench Press (Barbell),4,83.91452,7
4,2015-10-23 17:06:37,Incline Bench Press (Barbell),5,104.32616,8