In [1]:
# Importar librer√≠as
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
df = pd.read_csv('strong.csv')
df.head()

,Date,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),1,35.0,10,0,0,NaN,"Focusing on CHEST, SHOULDERS and TRICEPS",9.0
1,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),2,35.0,9,0,0,NaN,NaN,10.0
2,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),3,35.0,8,0,0,NaN,NaN,10.0
3,2021-09-13 10:41:41,PUSH 1,1h 12m,Bench Press (Barbell),4,35.0,7,0,0,NaN,NaN,10.0
4,2021-09-13 10:41:41,PUSH 1,1h 12m,Incline Cable Chest Fly,1,12.5,12,0,0,NaN,NaN,9.5

In [3]:
print(df.shape)

(3989, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3989 entries, 0 to 3988
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3989 non-null   object
 1   Workout Name   3989 non-null   object
 2   Duration       3989 non-null   object
 3   Exercise Name  3989 non-null   object
 4   Set Order      3989 non-null   int64
 5   Weight         3989 non-null   float64
 6   Reps           3989 non-null   int64
 7   Distance       3989 non-null   int64
 8   Seconds        3989 non-null   int64
 9   Notes          35 non-null     object
 10  Workout Notes  218 non-null    object
 11  RPE            3767 non-null   float64
dtypes: float64(2), int64(4), object(6)
memory usage: 374.1+ KB

In [5]:
# Elimino columnas que en principio no interesan
df = df.drop(['Duration', 'Distance', 'Seconds', 'Notes', 'Workout Notes'], axis=1)
df.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,RPE
0,2021-09-13 10:41:41,PUSH 1,Bench Press (Barbell),1,35.0,10,9.0
1,2021-09-13 10:41:41,PUSH 1,Bench Press (Barbell),2,35.0,9,10.0
2,2021-09-13 10:41:41,PUSH 1,Bench Press (Barbell),3,35.0,8,10.0
3,2021-09-13 10:41:41,PUSH 1,Bench Press (Barbell),4,35.0,7,10.0
4,2021-09-13 10:41:41,PUSH 1,Incline Cable Chest Fly,1,12.5,12,9.5

In [6]:
print(df['Date'].describe())

count                    3989
unique                    249
top       2023-12-19 12:43:00
freq                       48
Name: Date, dtype: object

In [7]:
print(df['Workout Name'].describe())

count        3989
unique         11
top       PULL 2
freq         1044
Name: Workout Name, dtype: object

In [8]:
print(df['Exercise Name'].describe())

count                     3989
unique                      46
top       Lat Pulldown (Cable)
freq                       402
Name: Exercise Name, dtype: object

In [9]:
print(df['Set Order'].describe())

count    3989.000000
mean        2.170970
std         1.042406
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: Set Order, dtype: float64

In [10]:
print(df['Weight'].describe())

count    3989.000000
mean       34.300890
std        17.712179
min         0.000000
25%        25.000000
50%        30.000000
75%        45.000000
max       195.000000
Name: Weight, dtype: float64

In [11]:
print(df['Reps'].describe())

count    3989.000000
mean        9.534219
std         3.627689
min         0.000000
25%         7.000000
50%         9.000000
75%        12.000000
max        30.000000
Name: Reps, dtype: float64

In [12]:
print(df['RPE'].describe())

count    3767.000000
mean        9.563048
std         0.684452
min         6.000000
25%         9.000000
50%        10.000000
75%        10.000000
max        10.000000
Name: RPE, dtype: float64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3989 entries, 0 to 3988
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3989 non-null   object
 1   Workout Name   3989 non-null   object
 2   Exercise Name  3989 non-null   object
 3   Set Order      3989 non-null   int64
 4   Weight         3989 non-null   float64
 5   Reps           3989 non-null   int64
 6   RPE            3767 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 218.3+ KB

In [14]:
df['Workout Name'].unique()

array(['PUSH 1', 'PULL 1', 'PUSH 2', 'PULL 2 ', 'LEGS 1', 'PULL 3',
       'PUSH 3', 'Full Body', 'Upper', 'Upper Body', 'Full Body 2'],
      dtype=object)

In [15]:
df = df.drop(['Workout Name'], axis=1)
df.head()

                  Date            Exercise Name  Set Order  Weight  Reps   RPE
0  2021-09-13 10:41:41    Bench Press (Barbell)          1    35.0    10   9.0
1  2021-09-13 10:41:41    Bench Press (Barbell)          2    35.0     9  10.0
2  2021-09-13 10:41:41    Bench Press (Barbell)          3    35.0     8  10.0
3  2021-09-13 10:41:41    Bench Press (Barbell)          4    35.0     7  10.0
4  2021-09-13 10:41:41  Incline Cable Chest Fly          1    12.5    12   9.5